.content {
  background-color: #F6F6F7;
  display: flex;
  flex-flow: row no-wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 40px;
}

.card {
  background-color: #FFF;
  flex: 1 1 70%;
  min-width: 250px;
  max-width: 450px;
  min-height: 350px;
  max-height: 412px;
  /*padding: 0 1em 1em 1em;*/
  margin: 1em 1em 1em 0;
  border-top: 45px solid #D8D8D8;
}

.card > h3 {
  margin-top: -28px;
  padding-left: 1em;
}

.card-row {
  display: flex;
  flex-flow: row no-wrap;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid #E1E4EA;
  padding: .6em 1em;
  vertical-align: baseline;
}

.card-row > p {
  flex: 0 0 70%;
  font-size: 0.938em;
  color: #70707F;
  margin: .5em 0;
}

.card-row > .primary-heading {
  font-size: 1.5em;

}
