.stats {
  display: flex;
<<<<<<< HEAD
  flex-flow: row no-wrap;
=======
  flex-flow: row wrap;
>>>>>>> 93e314f93b0fd77a85032dbbb7ed924453a4f051
  justify-content: space-around;
  align-items: center;
}

.grid-item {
  /*border: red 1px solid;*/
  width: 200px;
  height: 75px;
}

.border-left {
  border-left: 1px solid #E1E4EA;
}
