.stats {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.grid-item {
  /*border: red 1px solid;*/
  width: 200px;
  height: 75px;
}

.border-left {
  border-left: 1px solid #E1E4EA;
}
